.opercButton{
    border: 1px solid #000000; 
    padding: 10px; 
    background-color: #e90c0c; 
    color: #f5f5f5; 
    text-decoration: none; 
    text-transform: uppercase; 
    font-family: 'Helvetica', sans-serif; 
    border-radius: 50px; 
}

#botonEnvio1{
    border: 1px solid #000000; 
    padding: 10px; 
    background-color: #1ad609; 
    color: #053505; 
    text-decoration: none; 
    text-transform: uppercase; 
    font-family: 'Helvetica', sans-serif; 
    border-radius: 50px; 
}

form{
	width:350px;
	padding:20px;
	border-radius:10px;
	margin:auto;
    background-color:rgb(11, 183, 226);
    border: 5px solid #000000;
}

form label{
	width:72px;
	font-weight:bold;
	display:inline-block;
}

form input[type="text"],
form input[type="email"]{
	width:180px;
	padding:5px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid rgb(2, 54, 18);
	border-radius:5px;
	display:block;
	color:rgb(0, 0, 0);
	background-color:rgb(16, 211, 26);
} 

form input[type="submit"]:hover{
	cursor:pointer;
}

textarea{
	width:100%;
	height:100px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;
	resize:none;
	display:block;
}
body{
    background: url(https://static.iris.net.co/semana/upload/images/2017/11/17/547569_1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }