
.color{
    width: 345px;
    height: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(0, 0, 0);
    margin: auto;
    color: rgb(13, 226, 137);
}

.miMarco{
    border: rgb(0, 0, 0) solid 5px;
    width: auto;
    margin: 0 auto;
   
}
.miMarca{
    border: rgb(255, 255, 255) solid 5px;
    width: 700px;
    margin: 0 auto; 
}
.operButton{
    border: 1px solid #000000; 
    padding: 10px; 
    background-color: #14d665; 
    color: #050780; 
    text-decoration: none; 
    text-transform: uppercase; 
    font-family: 'Helvetica', sans-serif; 
    border-radius: 50px; 
}
.opercButton{
    border: 1px solid #000000; 
    padding: 10px; 
    background-color: #e90c0c; 
    color: #f5f5f5; 
    text-decoration: none; 
    text-transform: uppercase; 
    font-family: 'Helvetica', sans-serif; 
    border-radius: 50px; 
}

body{
    background: url(https://thumbs.gfycat.com/MajorEagerClumber-size_restricted.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

.leafImagen {
    width: 35%;
    margin: 20px auto;
    color: rgb(231, 247, 1);
    padding: 15px;
}
.cesImagen {
     width: 40%;
    margin: 20px auto;
    color: rgb(231, 247, 1);
    padding: 15px;
}
