#visor{
    height: 500px;
    width: 900px;
}


.color1{
    width: 280px;
    height: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(0, 0, 0);
    margin: auto;
    color: rgb(13, 226, 137);
}
.color2{
    width: 280px;
    height: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(20, 156, 219);
    margin: auto;
    color: rgb(8, 29, 221);
}

.opercButton{
    border: 1px solid #000000; 
    padding: 10px; 
    background-color: #e90c0c; 
    color: #f5f5f5; 
    text-decoration: none; 
    text-transform: uppercase; 
    font-family: 'Helvetica', sans-serif; 
    border-radius: 50px; 
}

.descributton{
    background: #000000;
    background-image: -webkit-linear-gradient(top, #2079b0, #0cec7c);
    background-image: -moz-linear-gradient(top, #2079b0, #0cec7c);
    background-image: -ms-linear-gradient(top, #2079b0, #0cec7c);
    background-image: -o-linear-gradient(top, #2079b0, #0cec7c);
    background-image: linear-gradient(to bottom, #2079b0, #0cec7c);
    text-decoration: none;
    padding: 9px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
  }

  .ir{
    border: 1px solid #000000; 
    padding: 7px; 
    background-color: #0cdae9; 
    color: #000000; 
    text-decoration: none; 
    text-transform: uppercase; 
    font-family: 'Helvetica', sans-serif; 
    border-radius: 10px; 
}
body{
    background: url(https://3.bp.blogspot.com/-_PJsxVmiII4/Ux0FWOW9emI/AAAAAAAADsI/YvGYF5R98Y0/s1600/estaciondetrenusaquen.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#general{
    margin: auto;
    width: 1000px;
    height:  2500px;
}

.st1{
    float: initial;
    border: rgb(0, 0, 0) solid 2px;
    width: auto;
    margin: 300px;
}
.st2{
    float: initial;
    border: rgb(0, 0, 0) solid 2px;
    width: auto;
    margin: 300px;
}