.opercButton{
    border: 1px solid #000000; 
    padding: 10px; 
    background-color: #e90c0c; 
    color: #f5f5f5; 
    text-decoration: none; 
    text-transform: uppercase; 
    font-family: 'Helvetica', sans-serif; 
    border-radius: 50px; 
}

